body {
    background: #f6fad9;
    font-family: arial, helvetica, sans-serif;
}

#container {
    width: 960px;
    min-height: 500px;
    margin: 5px auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #41542b;
    color: #f6fad9;
}

nav > ul > li
/* > makes it target only a ul that follows a nav */

{
    float: left;
}

nav ul::after {
    /* pseudo element */
    content: "";
    display: block;
    clear: both;
    color: #f6fad9;
}

nav ul li:hover {
    /*makes top part of menu be in hover state */
    background: #564357;
    color: #f6fad9;
}

nav ul li:hover >ul {
    display: block;
}

nav ul li a {
    display: inline-block;
    color: #f6fad9;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
}

nav ul li a:hover {
    background: #564357;
    color: #f6fad9;
    text-decoration: underline;
}

nav ul ul {
    display: none;
    position: absolute;
    /* top: 100%; --- in video, breaks it*/
    background: rgba(86, 67, 87, .8);
    color: #f6fad9;
}


/*top level formatting*/

nav > ul {
    padding-left: 35px;
}

nav > ul > li {
    float: left;
}

nav >ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;
}

.clear-both {
    clear: both;
}

.invisible {
    visibility: hidden;
}